/* Colors */
:root {
    --battleship: #969A97;
    --timberwolf: #D6D1CD;
    --gunmetal: #292F36;
    --amaranth: #B12F47;
    --fern: #576F2F;
    --engineering: #B80C09;
}

/* Reset */
* {
    font-family: 'DM Sans', 'Poppins', serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

/* Header */
header {
    background-color: var(--gunmetal);
    height: fit-content;
}

/* Menu Icon */
.menu-icon {
    display: inline-block;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    /* margin-right: 20px; */
}

.bar1, .bar2, .bar3 {
    height: 10px;
    width: 72px;
    background-color: var(--timberwolf);
    margin: 10px 0px;
    transition: 0.4s;
}

/* Change color of menu icon on hover */
.menu-icon:hover .bar1, .menu-icon:hover .bar2, .menu-icon:hover .bar3 {
    background-color: var(--amaranth);
    transform: scale(1.1, 1.1);
}

/* Give click effect of menu icon */
.menu-icon:active .bar1, .menu-icon:active .bar2, .menu-icon:active .bar3 {
    transform: scale(1.05, 1.05);
    transition: 0.05s;
}


/* For use when I can update the code to allow for the menu icon to become an X */
/* .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
} */



/* Title color and animations */
h1 {
    color: var(--timberwolf);
    text-align: right;
    margin-right: 60px;
    margin-left: 200px;
    padding: 0px;
    font-size: 300px;
    font-weight: 200;
}

h1:hover {
    color: var(--amaranth);
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: 1s;
}

h1:active {
    transform: scale(1.025,1.025);
    transition: 0.05s;
}