/* Colors */
:root {
    --battleship: #969A97;
    --timberwolf: #D6D1CD;
    --gunmetal: #292F36;
    --amaranth: #B12F47;
    --fern: #576F2F;
    --engineering: #B80C09;
    --text-shadow: #67676799;
}

/* Reset */
* {
    font-family: 'DM Sans', 'Poppins', serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

/* Body */
body {
    background-color: var(--battleship);
}

/* Header */
header {
    background-color: var(--gunmetal);
    height: fit-content;
}

/* Menu Icon */
 .menu-icon {
    display: inline-block;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    /* margin-right: 20px; */
}

.bar1, .bar2, .bar3 {
    height: 10px;
    width: 72px;
    background-color: var(--timberwolf);
    margin: 10px 0px;
    transition: 0.4s;
}

/* Change color of menu icon on hover */
.menu-icon:hover .bar1, .menu-icon:hover .bar2, .menu-icon:hover .bar3 {
    background-color: var(--amaranth);
    transform: scale(1.1, 1.1);
}

/* Give click effect of menu icon */
.menu-icon:active .bar1, .menu-icon:active .bar2, .menu-icon:active .bar3 {
    transform: scale(1.05, 1.05);
    transition: 0.05s;
} 


/* For use when I can update the code to allow for the menu icon to become an X */
/* .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
} */


/* Header paragraph */
.header-paragraph {
    color: var(--timberwolf);
    font-size: 40px;
    margin-left: 29%;
    position: relative;
    padding-top: 150px;
    text-shadow: 3px 3px var(--text-shadow);
}

.header-paragraph:hover::after {
    content: 'Click the main title below to learn more about me! ↓';
    position: absolute;
    left: 650px;
    bottom: -150px;
    color: var(--gunmetal);
    background-color: var(--fern);
    border: 2px solid var(--battleship);
    padding: 5px;
    border-radius: 10px;
    font-weight: 400;
}

/* Main title color and animations */
.main-title {
    color: var(--timberwolf);
    text-align: right;
    margin-right: 3%;
    margin-left: 53%;
    padding: 0px;
    font-size: 300px;
    font-weight: 200;
    padding-top: 150px;
}

.main-title:hover {
    color: var(--amaranth);
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: 1s;
    text-shadow: 15px 10px black;
}

.main-title:active {
    transform: scale(1.025,1.025);
    transition: 0.05s;
}

/* Navbar settings */
.navbar {
    background-color: var(--gunmetal);
    height: 150px;
    border-top: 2px solid var(--battleship);
    border-bottom: 2px solid var(--battleship);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    color: var(--timberwolf);
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}

.navbar ul li a:hover {
    box-shadow: 0px 0px 20px 10px var(--amaranth);
    transform: scale(1.1, 1.1);
    text-shadow: 5px 5px var(--text-shadow);
}

/* Main */
main {
    height :1000px
}






/* Footer contact form */
#contact {
    background-color: var(--gunmetal);
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-title {
    font-size: 40px;
    color: var(--timberwolf);
}

.emailAndMessage {
    display: flex;
    flex-direction: column;
}

#email {
    width: 250px;
    font-size: 20px;
}

#message-box {
    height: 200px;
    width: 500px;
    font-size: 20px;
    margin-top: 60px;
}

#sendBtn {
    font-size: 30px;
    padding: 15px;
    
}